@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

body {
  margin: 0;
  padding: 0;
  background-image: url("../img/bg_game.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 100vw;
  min-height: 100vh;
}

.container {
  min-width: 80vw;
  min-height: 80vh;
}

#playground {
  width: 40vw;
  height: 40vw;
  background-image: url("../img/playground.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.player {
  width: 90%;
  height: 80%;
  filter: drop-shadow(0px 10px 5px black);
}
.player2 {
  width: 150%;
  height: 100%;
  filter: drop-shadow(0px 10px 5px black);
}

.coin {
  width: 60%;
  height: 60%;
  filter: drop-shadow(0px 10px 5px black);
}

#score,
#score2 {
  font-family: "Press Start 2P", cursive;
  color: bisque;
  margin-top: 0.5rem;
}

.star {
  width: 60%;
  height: 60%;
  filter: drop-shadow(0px 10px 5px black);
}

#playground2 {
  width: 40vw;
  height: 40vw;
  background-image: url("../img/playground.png");
  background-repeat: no-repeat;
  background-size: cover;
}

#timer {
  width: 10%;
}

#secs {
  font-family: "Press Start 2P", cursive;
  font-size: 2.5em;
  color: red;
}

#game {
  display: none;
}

.start-btn {
  width: 300px;
  height: 100px;
  text-align: center;
  font-size: 2em;
  display: inline-block;
  margin: 5px;
  font-weight: bold;
  padding: 10px 0 10px 10px;
  background-color: lightgray;
  text-shadow: -1px -1px black, 1px 1px white;
  color: gray;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
  box-shadow: 0 0.2em gray;
  cursor: pointer;
  font-family: "Press Start 2P", cursive;
  color: gray;
}

.start-btn:active {
  box-shadow: none;
  position: relative;
  top: 0.2em;
}

#start-container {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#welcome {
  text-align: center;
}

#welcome-heading {
  font-size: 4em;
  font-family: "Press Start 2P", cursive;
  color: red;
}

.score-heading {
  font-family: "Press Start 2P", cursive;
  font-size: 1.5rem;
  color: orange;
}

#winner-container {
  min-width: 100vw;
  min-height: 100vh;
  display: none;
  justify-content: center;
  align-items: center;
}

#winner {
  text-align: center;
}

#winner-heading {
  font-size: 2em;
  font-family: "Press Start 2P", cursive;
  color: red;
}

@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}

@media only screen and (max-width: 600px) {
  .container {
    min-width: 80vw;
    min-height: 40vh;
  }
  #playground,
  #playground2 {
    width: 100vw;
    height: 60vw;
  }
  #secs {
    font-size: 1.5em;
  }
  .score-heading {
    font-size: 1em;
  }
  #welcome-heading {
    font-size: 3em;
  }
}

.bomb {
  width: 40%;
  height: 50%;
  filter: drop-shadow(0px 10px 5px black);
}
